$radius: 10px;

.container {
  border: 2px solid #f6f7f8;
  padding: 5px;
  border-radius: 1em;
}
.cardContainer {
  border: 2px solid #f6f7f8;
  border-radius: $radius;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  background-color: aqua;
}
